<div class="flex items-center justify-center">
  <div class="flex-1 text-right"><span class="max-w-3xl mr-4">{{playingSong?.title}}</span></div>
  <div class="flex flex-col items-center">
    <div class="flex items-center">
      <span class="!text-xl cursor-pointer flex" nz-icon nzType="step-backward"></span>
      <span (click)="togglePlay()" class="!text-3xl cursor-pointer px-2 flex" nz-icon [nzType]="isPlaying ? 'pause-circle' : 'play-circle'"></span>
      <span class="!text-xl cursor-pointer flex" nz-icon nzType="step-forward"></span>
    </div>
    <div class="w-96 bg-gray-200 h-2 rounded-md" (click)="barClick($event)">
      <div class="h-full bg-blue-400 rounded-md" [ngStyle]="{'width': playingSongProgress + '%'}">
      </div>
    </div>
  </div>

  <div class="flex-1"></div>
</div>
