<amplify-authenticator [signUpAttributes]="['email']" [formFields]="formFields">
  <ng-template amplifySlot="header">
    <div class="mt-8"></div>
  </ng-template>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
    <div>Welcome {{user.username}}</div>
    <button class="bg-teal-200 px-6 py-2 rounded-md hover:opacity-75" (click)="signOut()">Sign Out</button>
    <router-outlet></router-outlet>
  </ng-template>

  <ng-template amplifySlot="sign-in-footer" let-forgotPassword="forgotPassword">
    <div class="flex justify-center mb-4">
      <button class="btn btn-link" (click)="authenticator.toResetPassword()">Forgot your password?</button>
    </div>
  </ng-template>
</amplify-authenticator>

