<div nz-row nzAlign="middle">
  <nz-page-header nz-col [nzTitle]="selectedPlaylist ? selectedPlaylist.name : 'All Songs'"></nz-page-header>
  <input #songUpload (change)="onFileChange($event)" multiple type="file" id="song-upload" class="hidden"
         accept="audio/wav,audio/mpeg,audio/mp4,audio/aac,audio/aacp,audio/flac"/>
  <label for="song-upload" *ngIf="!selectedPlaylist">
    <button (click)="songUpload.click()" nz-button nzType="primary">Add Songs
      <span nz-icon nzType="upload"></span>
    </button>
  </label>
</div>

<nz-table [nzShowPagination]="false" [nzLoading]="isLoadingSongs" [nzLoadingDelay]="1000" [nzData]="songs" #songTable>
  <thead>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Album</th>
    <th>Duration</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let song of songTable.data" class="cursor-pointer select-none" (dblclick)="onSongDoubleClick(song)"
      (contextmenu)="onSongRightClick($event, songMenu, song)"
      [ngClass]="{'bg-gray-200 hover:!bg-gray-200': currentPlayingSong?.id === song?.id}">
    <td>{{song.title}}</td>
    <td class="hover:underline cursor-pointer" (click)="artistClick(song.artist?.id)">{{song.artist?.name}}</td>
    <td>{{song.album?.name}}</td>
    <td>{{formatSeconds(song.duration)}}</td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu #songMenu>
  <ul nz-menu>
    <li nz-menu-item (click)="onAddToQueueClick()">
      Add to queue
    </li>
    <li nz-submenu nzTitle="Add to playlist">
      <ul>
        <li nz-menu-item *ngFor="let playlist of playlists"
            (click)="onAddToPlaylistClick(playlist.id)"
            [nzDisabled]="selectedPlaylist?.id === playlist.id">{{playlist.name}}</li>
      </ul>
    </li>
    <li nz-menu-item nzDanger>Delete</li>
  </ul>
</nz-dropdown-menu>
