@import '~@aws-amplify/ui-angular/theme.css';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Roboto, sans-serif;
  overflow: hidden;
}

.amplify-button--primary {
  @apply btn btn-primary;
}

.amplify-input {
  @apply input input-bordered input-primary
}

.amplify-input:focus {
  @apply shadow-none border-primary
}

.amplify-field__show-password {
  display: none !important;
}

div[data-amplify-router] {
  background-color: theme("colors.base-100") !important;
}

.amplify-tabs-item[data-state="active"] {
  @apply text-primary border-t-primary
}
